.blackout {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.575);
  z-index: 1;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.modal {
  background: white;
  display: block;
  border-radius: 6px;
  padding: 15px;
  max-height: 100%;
  overflow: auto;
}
.blackout.hidden {
  display: none;
}
.blackout.show {
  display: flex;
} 

/* Animation */
.blackout, .modal {
  transition: .8s all!important;
}

.blackout.hidden {
  display: flex!important;
  opacity: 0;
  pointer-events: none;
}
.blackout.show {
  display: flex!important;
  opacity: 1;
}

.show .modal {
  transform: scale(1);
}
.hidden .modal {
  transform: scale(.8);
}